.DS_Store
__pycache__
.pytest_cache/
.venv/
build/
*.egg-info/
*.log
results/
tmp/
codeforces_problems/
*.pkl
trash/
*.bak
.vscode/
.cursorignore
target/
*.lock
!uv.lock
test_artifacts/
.tmp_inject_extracted/
charts/
scripts/
verusage_exp/workspace/
verusage_exp/vstd_bak/
verusage_exp/tasks_*/
verusage_exp/results_*/
verusage_exp/test_*
verusage_exp/copilot_app_exp/
verusage/

verus-proof-synthesis/

cases/
paper/
cost/
av_log_data/
token_stats_autoverus/
exverus/
exverus.pdf
uv.lock
